li{
	padding: 25px ;
	color: mediumvioletred;
	display: inline-block;
	font-size: 30px;
	font-family: Verdana;
}


body {
	background-color: rosybrown;
}
h1 {
  color: lightgoldenrodyellow;
  align-content:center;
  text-align: center;
}
h2 {
  color: lightgoldenrodyellow;
  text-align: center;
}
p {
	color: snow;
}
h3 {
	color: snow;
}


